body{

background-repeat: no-repeat;
background-size: 100%;
}

#menu{

    height: 60px;
  
   
    background-color: rgba(fully transparent);
    border: 3px solid red; 
    cursor: pointer;
    padding: 10px;

      
    }
    
    #listtudo{
        text-align: center;
        font-size: 30px;
        color: red;
        font-family:knight;
    }
       @media screen and (max-width: 480px) {
           #listtudo{
    margin-left: -154px;
    font-size: 24px;
           }
    }
     #menuReceitas:hover{
         color: #bf0000;
         text-decoration: underline;
     }
     #menuContatos:hover{
         color: #bf0000;
         text-decoration: underline;
     }
     #menuProdutos:hover{
         color: #bf0000;
         text-decoration: underline;
     }
     #menuInicial:hover{
         color: #bf0000;
         text-decoration: underline;
     }
      @media screen and (max-width: 480px) {
        #menuProdutos{
         margin-left: 13px;
        }
      }
       @media screen and (max-width: 480px) {
      #menuReceitas{
    margin-left: 11px;
      }
  }
    @media screen and (max-width: 480px) {
      #menuContatos{
      margin-left: 7px;
      }
    }
    @font-face{
    font-family:knight;
    src: url("../fonts/knight/knight.otf");

}
 @font-face{
    font-family:December;
    src: url("../fonts/december/December.ttf");

 }
    #logo{
   width: 135px;
    height: 91px;
    float: left;
    z-index: 9;
    position: absolute;
    margin-top: -152px;

    }

    @media screen and (max-width: 480px) {
        #logo {
            width: 50px;
            height: 50px;
            margin-top: -120px;
            margin-left: -6px;
        }
    }

    #face{
        width: 41px;
    }
    #telefone{
        width: 41px;
    }
    li {
    margin: 0px 0px 0px 110px;
    
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    float: left;
    }
    .carousel-item>img{
          height: 588px;
    }
    #titulo{
    margin-left: 152px;
    font-size: 70px;
    color: red;
    font-family:knight;
    }

    @media screen and (max-width: 480px) {
        #titulo {
            font-size: 45px;
               margin-left: 50px;
            font-size: 40px;
        }
    }
    
    .container{
        height: 1000px;
       margin: auto;
    position: relative;
    max-width: 1000px;
  
    top: 0px;
    background-color: white;
    z-index: 1;
    }
    .carousel-item>img{
        height: 400px;
    }
    .img-dark:hover {
    filter: brightness(60%);
}
#descricao{
    font-size: 35px;
    color: red;
    font-family: December;
    margin-left: 111px;
    margin-top: 105px;
    margin-left: 318px;
    width: 500px;
}
  @media screen and (max-width: 480px) {
#descricao{
    font-size: 24px;
    margin-left: 5px;
    margin-top: 10px
}
}
#descricao:hover{
          color: #bf0000;
}
.btnHistoria {
    margin-left: 400px;
}
.card-group{
    display: none;
}
#contatos{
    width: 100px;
    display: none;
}

#nossosProdutos{
    display: none;
    margin-left: 55px;
}
  @media screen and (max-width: 480px) {
    
#nossosProdutos{  
     
float: left;
margin-left: 14px;
}
  }
.imgProdutos{
    width: 160px;
    height: 160px;
}
figcaption{
    font-size: 12px;
    color: red;
     
}
figure{
    float: left;
    width: 150px;
    margin:10px;
}

#receitas{
    display: none;
}
 
.card{
    float: left;
}
  @media screen and (max-width: 480px) {
.card{
width: 10rem;
}
  }
.card-img-top{
        width: 319px;
    height: 244px;
}
 @media screen and (max-width: 480px) {
.card-img-top{
    width: 157px;
    height: 150px;
}
 }
.card-title{
    color: red;
    font-family:knight;
        font-size: 39px;
}


#localizacao{
        width: 972px;
    height: 286px;
}
#local{
     font-family:knight;
     color: red;
     border-bottom-style:inset; 
         width: 900px;
}
  @media screen and (max-width: 480px) {
#local{
font-size: 30px;
}
}
#info{
     font-family:knight;
     color: red;
     border-bottom-style:inset; 
         width: 900px;
}
 @media screen and (max-width: 480px) {
#info{
font-size: 30px;
}
}
.imgContatos{
        width: 60px;
    height: 60px;
}
#facebo{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-top: 10px;
}

#faceb{
    width:355px;
    margin-left: 54px;
    margin-top: -25px;
    font-size: 15px;
}
@media screen and (max-width: 480px) {
#faceb{
    font-size: 10px;
}
}
#faceb:hover{
    text-decoration: underline;
    cursor: pointer;
}
#fotomail{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-top: 10px;
}
#emaill{
    font-size: 15px;
    margin-left: 52px;
    margin-top: -29px;
}
@media screen and (max-width: 480px) {
#emaill{
    font-size: 10px;
}
}
#tel{
    font-size: 15px;
     width: 454px;
        margin-left: 62px;
    margin-top: -40px;
        color: red;
}
 @media screen and (max-width: 480px) {
#tel{
    font-size: 10px;
}
}
#atendimento{
     font-size: 15px;
     color: red;
        width: 454px;
            margin-left: 53px;
    margin-top: -38px;
}
@media screen and (max-width: 480px) {
#atendimento{
    font-size: 10px;
}
}
#nossaHistoria{
    display: none;
}
.imgFabrica{
    width: 239px;
    height: 200px;
}
#desde{
color: red;
     font-size: 25px;
}
#entao{
    color: red;
    font-size: 50px;
    font-family:knight;
}
.numeros{
    color: red;
}
.img-responsive{
        width: 260px;
    height: 210px;
}

 #inConquistas{

    position: relative;
    margin: 252px;
    margin-top: -1px;
}


#receitaArroz{
    display: none;
}
#receitaMocoto{
    display: none;
}
#ano{
    font-size: 30px;
    color: red;
}
#imgInici{
   width: 250px;
    height: 200px;
    margin-top: -270px;
    margin-left: 718px;
    border-radius: 50%;
}
#imgInic{
       width: 250px;
    height: 200px;
    margin-left: 1px;
    border-radius: 50%;
    margin-top: -228px;
}
@media screen and (max-width: 480px) {
#imgInic{
    width: 150px;
    height: 150px;
    margin-top: 16px;
    margin-left: 79px;
}
}
#obrigado{
    color: red;
     font-family:December;
         width: 500px;
    margin-top: 152px;
    margin-left: 286px;
}
@media screen and (max-width: 480px) {
#obrigado{
    margin-left: 6px;
    font-size: 30px;
}
}
#obrigado:hover{
        color: #bf0000;
}
@media screen and (max-width: 480px) {
.carousel-inner{
    height: 190px;
}
}